.center {text-align: center;}
body {padding-top: 70px;}
a.increaseFont:hover, a.decreaseFont:hover, a.increaseFont:active, a.decreaseFont:active, a.increaseFont:visited, a.decreaseFont:visited, a.increaseFont:focus, a.decreaseFont:focus {text-decoration: none;}
nav.navbar, nav.navbar-default {background: rgba(0, 0, 0, 0);border-color: rgba(0, 0, 0, 0); box-shadow: 0px 1px 0px rgba(0, 0, 0, 0) inset, 0px 1px 5px rgba(0, 0, 0, 0);}
.glyphicon {background: rgba(0, 0, 0, .1);padding: 10px 16px;font-size: 18px;line-height: 1.33;}


#chap01, #chap02, #chap03, #chap04, #chap05, #chap06, #chap07, #chap08, #chap09, #chap10, #chap11, #chap12, #chap13, #chap14, #chap15, #chap16, #chap17, #chap18 { margin-bottom: 10%; margin-left: 10%;}
 
 
p.poem {text-indent: 0%;
        margin-left: 10%; }

p.t3 {text-indent: 0% ;
      font-size: 100%;
      text-align: center }

p.t3b {text-indent: 0% ;
      font-size: 100%;
      font-weight: bold;
      text-align: center }